@charset "utf-8";

/* CSS Document */

#showcase{
	height: 570px;
	border-bottom: 25px solid #244C66;
}
#aboutus {
    background-color: #a2a2a2a8;
    position: relative;
    width: 80%;
    height: 450px;
    top: 100px;
    left: 10%;
    border: 2px solid #BDBDBD;
    border-radius: 4px;
    text-align: center;
}
#aboutus .about{
	position: relative;
    top: 10px;
    font-size: 20;
}